<div class="footer doodle" id="footer">
  <div class="footer-links">

    <%= inline_svg_tag "icons8-facebook-entouré.svg", class: 'icon-footer' %>
    <%= inline_svg_tag "icons8-instagram-vieux-logo.svg", class: 'icon-footer' %>
    <%= inline_svg_tag "icons8-pinterest.svg", class: 'icon-footer' %>
    <%= inline_svg_tag "icons8-twitter-entouré.svg", class: 'icon-footer' %>
    <%= inline_svg_tag "icons8-github.svg", class: 'icon-footer' %>

  </div>
  <div class="footer-copyright">
    <p>Ikeo Inc. <br> 68 Ave Parmentier 75011 Paris </p><i class="fa-regular fa-flux-capacitor"></i>
  </div>
</div>
