<div class="container">
  <div data-search-items-target="list">
      <div class="doodle">
        <h1 class="cave-title doodle-border">Cave</h1>
      </div>
      <div class="wrapper-index-cave">

            <div class="doodle-border card-index-cave armoire">
              <div class="item-img-cave doodle-border">
                <%= image_tag("cave-armoire.png")%>
              </div>
              <div class="card-index-text-cave doodle">
                <h1 class=""> Vieille armoire</h1>
              </div>
                <div class="flex-price-link doodle">
                  <p>0€</p>
                  <div class="flex-card" >
                    <div class="doodle-button button-index">
                      <a data-turbo="false" class="button" href="#popup1">Voir cet item</a>
                  </div>
                  <div id="popup1" class="overlay">
                    <div class="popup doodle-border">
                      <a class="close" href="">&times;</a>
                      <div class="content-cave">
                        <p> Cette armoire est cassée... </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class=" doodle-border card-index-cave balais">
              <div class="item-img-cave doodle-border">
                <%= image_tag("cave-balais.png")%>
              </div>
              <div class="card-index-text-cave doodle">
                <h1 class=""> Vieux balais </h1>
              </div>
                <div class="flex-price-link doodle">
                  <p>0€</p>
                  <div class="flex-card" >
                    <div class="doodle-button button-index">
                      <a data-turbo="false" class="button" href="#popup2">Voir cet item</a>
                  </div>
                  <div id="popup2" class="overlay">
                    <div class="popup doodle-border">
                      <a class="close" href="">&times;</a>
                      <div class="content-cave">
                        <p> Ce balais est usé mais il peut toujours servir... </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class=" doodle-border card-index-cave bibliotheque">
              <div class="item-img-cave doodle-border">
                <%= image_tag("cave-bibli.png")%>
              </div>
              <div class="card-index-text-cave doodle">
                <h1 class=""> Vieille bibliothèque </h1>
              </div>
                <div class="flex-price-link doodle">
                  <p>0€</p>
                  <div class="flex-card" >
                    <div class="doodle-button button-index">
                      <a data-turbo="false" class="button" href="#popup3">Voir cet item</a>
                  </div>
                  <div id="popup3" class="overlay">
                    <div class="popup doodle-border">
                      <a class="close" href="">&times;</a>
                      <div class="content-cave">
                        <p> Les livres de cette bibliothèque sont moisies... </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class=" doodle-border card-index-cave bureau">
              <div class="item-img-cave doodle-border">
                <%= image_tag("cave-bureau.png")%>
              </div>
              <div class="card-index-text-cave doodle">
                <h1 class=""> Vieux bureau </h1>
              </div>
                <div class="flex-price-link doodle">
                  <p>0€</p>
                  <div class="flex-card" >
                    <div class="doodle-button button-index">
                      <a data-turbo="false" class="button" href="#popup4">Voir cet item</a>
                  </div>
                  <div id="popup4" class="overlay">
                    <div class="popup doodle-border">
                      <a class="close" href="">&times;</a>
                      <div class="content-cave">
                        <p> Des traces de café maculent ce vieux bureau </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class=" doodle-border card-index-cave cadre">
              <div class="item-img-cave doodle-border">
                <%= image_tag("cave-cadre.png")%>
              </div>
              <div class="card-index-text-cave doodle">
                <h1 class=""> Vieux cadre </h1>
              </div>
                <div class="flex-price-link doodle">
                  <p>0€</p>
                  <div class="flex-card" >
                    <div class="doodle-button button-index">
                      <a data-turbo="false" class="button" href="#popup5">Voir cet item</a>
                  </div>
                  <div id="popup5" class="overlay">
                    <div class="popup doodle-border">
                      <a class="close" href="">&times;</a>
                      <div class="content-cave">
                        <p> Une vieille photo de famille se trouve dans le cadre... </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class=" doodle-border card-index-cave canape-jaune">
              <div class="item-img-cave doodle-border">
                <%= image_tag("cave-canape-jaune.png")%>
              </div>
              <div class="card-index-text-cave doodle">
                <h1 class=""> Vieux canapé jaune </h1>
              </div>
                <div class="flex-price-link doodle">
                  <p>0€</p>
                  <div class="flex-card" >
                    <div class="doodle-button button-index">
                      <a data-turbo="false" class="button" href="#popup6">Voir cet item</a>
                  </div>
                  <div id="popup6" class="overlay">
                    <div class="popup doodle-border">
                      <a class="close" href="">&times;</a>
                      <div class="content-cave">
                        <p> Ce canapé semble en mauvais état... </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class=" doodle-border card-index-cave canape-retro">
              <div class="item-img-cave doodle-border">
                <%= image_tag("cave-canape-retro.png")%>
              </div>
              <div class="card-index-text-cave doodle">
                <h1 class=""> Vieux sofa </h1>
              </div>
                <div class="flex-price-link doodle">
                  <p>0€</p>
                  <div class="flex-card" >
                    <div class="doodle-button button-index">
                      <a data-turbo="false" class="button" href="#popup7">Voir cet item</a>
                  </div>
                  <div id="popup7" class="overlay">
                    <div class="popup doodle-border">
                      <a class="close" href="">&times;</a>
                      <div class="content-cave">
                        <p> Ce sofa est pleins de poussière... </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class=" doodle-border card-index-cave canape-vert">
              <div class="item-img-cave doodle-border">
                <%= image_tag("cave-canape-vert.png")%>
              </div>
              <div class="card-index-text-cave doodle">
                <h1 class=""> Vieux canapé vert </h1>
              </div>
                <div class="flex-price-link doodle">
                  <p>0€</p>
                  <div class="flex-card" >
                    <div class="doodle-button button-index">
                      <a data-turbo="false" class="button" href="#popup8">Voir cet item</a>
                  </div>
                  <div id="popup8" class="overlay">
                    <div class="popup doodle-border">
                      <a class="close" href="">&times;</a>
                      <div class="content-cave">
                        <p> Des ressorts s'échappent du canapé... </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class=" doodle-border card-index-cave chaise">
              <div class="item-img-cave doodle-border">
                <%= image_tag("cave-chaise.png")%>
              </div>
              <div class="card-index-text-cave doodle">
                <h1 class=""> Vieille chaise </h1>
              </div>
                <div class="flex-price-link doodle">
                  <p>0€</p>
                  <div class="flex-card" >
                    <div class="doodle-button button-index">
                      <a data-turbo="false" class="button" href="#popup9">Voir cet item</a>
                  </div>
                  <div id="popup9" class="overlay">
                    <div class="popup doodle-border">
                      <a class="close" href="">&times;</a>
                      <div class="content-cave">
                        <p> Cette chaise semble sur le point de s'effondrer... </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class=" doodle-border card-index-cave commode">
              <div class="item-img-cave doodle-border">
                <%= image_tag("cave-commode.png")%>
              </div>
              <div class="card-index-text-cave doodle">
                <h1 class=""> Vieille commode </h1>
              </div>
                <div class="flex-price-link doodle">
                  <p>0€</p>
                  <div class="flex-card" >
                    <div class="doodle-button button-index">
                      <a data-turbo="false" class="button" href="#popup10">Voir cet item</a>
                  </div>
                  <div id="popup10" class="overlay">
                    <div class="popup doodle-border">
                      <a class="close" href="">&times;</a>
                      <div class="content-cave">
                        <p> Cette commode est complètement démodée... </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class=" doodle-border card-index-cave etagere">
              <div class="item-img-cave doodle-border">
                <%= image_tag("cave-etagere.png")%>
              </div>
              <div class="card-index-text-cave doodle">
                <h1 class=""> Vieille étagère </h1>
              </div>
                <div class="flex-price-link doodle">
                  <p>0€</p>
                  <div class="flex-card" >
                    <div class="doodle-button button-index">
                      <a data-turbo="false" class="button" href="#popup11">Voir cet item</a>
                  </div>
                  <div id="popup11" class="overlay">
                    <div class="popup doodle-border">
                      <a class="close" href="">&times;</a>
                      <div class="content-cave">
                        <p> Il manque des planches à cette étagère... </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class=" doodle-border card-index-cave lampe">
              <div class="item-img-cave doodle-border">
                <%= image_tag("cave-lampe.png")%>
              </div>
              <div class="card-index-text-cave doodle">
                <h1 class=""> Vieille lampe </h1>
              </div>
                <div class="flex-price-link doodle">
                  <p>0€</p>
                  <div class="flex-card" >
                    <div class="doodle-button button-index">
                      <a data-turbo="false" class="button" href="#popup12">Voir cet item</a>
                  </div>
                  <div id="popup12" class="overlay">
                    <div class="popup doodle-border">
                      <a class="close" href="">&times;</a>
                      <div class="content-cave">
                        <p> Étonnamment, cette lampe fonctionne toujours... </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class=" doodle-border card-index-cave plante">
              <div class="item-img-cave doodle-border">
                <%= image_tag("cave-plante.png")%>
              </div>
              <div class="card-index-text-cave doodle">
                <h1 class=""> Vieille plante </h1>
              </div>
                <div class="flex-price-link doodle">
                  <p>0€</p>
                  <div class="flex-card" >
                    <div class="doodle-button button-index">
                      <a data-turbo="false" class="button" href="#popup13">Voir cet item</a>
                  </div>
                  <div id="popup13" class="overlay">
                    <div class="popup doodle-border">
                      <a class="close" href="">&times;</a>
                      <div class="content-cave">
                        <p> Des plantes complètement mortes... </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class=" doodle-border card-index-cave poubelle">
              <div class="item-img-cave doodle-border">
                <%= image_tag("cave-poubelle.png")%>
              </div>
              <div class="card-index-text-cave doodle">
                <h1 class=""> Vieille poubelle </h1>
              </div>
                <div class="flex-price-link doodle">
                  <p>0€</p>
                  <div class="flex-card" >
                    <div class="doodle-button button-index">
                      <a data-turbo="false" class="button" href="#popup14">Voir cet item</a>
                  </div>
                  <div id="popup14" class="overlay">
                    <div class="popup doodle-border">
                      <a class="close" href="">&times;</a>
                      <div class="content-cave">
                        <p> La poubelle est vide... </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class=" doodle-border card-index-cave tv">
              <div class="item-img-cave doodle-border">
                <%= image_tag("cave-tv.png")%>
              </div>
              <div class="card-index-text-cave doodle">
                <h1 class=""> Vieille télévision </h1>
              </div>
                <div class="flex-price-link doodle">
                  <p>0€</p>
                  <div class="flex-card" >
                    <div class="doodle-button button-index">
                      <a data-turbo="false" class="button" href="#popup15">Voir cet item</a>
                  </div>
                  <div id="popup15" class="overlay">
                    <div class="popup doodle-border">
                      <a class="close" href="">&times;</a>
                      <div class="content-cave">
                        <p> On peut voir de la neige quand on allume la télé... </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      </div>
  </div>
</div>
