<div class= "doodle container-home">

  <div class= "doodle home-wrapper">


    <div class= "doodle-border card-home" id="jardin">
      <%= image_tag("Jardin.avif")%>
      <div class= "text-card-home">
        <h1>Jardin, terrasse et balcon</h1>
        <%= link_to items_path(query: "Jardin"), class: 'btn' do %>
            <i class="fa-solid fa-arrow-right"></i>
          <%# end %>
      </div>
    </div>

    <div class= "doodle-border card-home" id="salon">
      <%= image_tag("Salon.avif")%>
      <div class= "text-card-home">
        <h1>Salon</h1>
        <%#= link_to ..., class: 'btn' do %>
            <i class="fa-solid fa-arrow-right"></i>
          <%# end %>
        </div>
    </div>

    <div class= "doodle-border card-home" id="salle-manger">
      <%= image_tag("SalleManger.avif")%>
      <div class= "text-card-home">
        <h1>Salle à manger</h1>
        <%#= link_to ..., class: 'btn' do %>
            <i class="fa-solid fa-arrow-right"></i>
          <%# end %>
      </div>
    </div>

    <div class= "doodle-border card-home" id="cuisine">
      <%= image_tag("Cuisine.avif")%>
      <div class= "text-card-home">
        <h1>Cuisine</h1>
        <%#= link_to ..., class: 'btn' do %>
            <i class="fa-solid fa-arrow-right"></i>
          <%# end %>
      </div>
    </div>

    <div class= "doodle-border card-home" id="chambre">
     <%= image_tag("Chambre.avif")%>
     <div class= "text-card-home">
        <h1>Chambre</h1>
        <%#= link_to ..., class: 'btn' do %>
            <i class="fa-solid fa-arrow-right"></i>
          <%# end %>
      </div>
    </div>

    <div class= "doodle-border card-home" id="salle-bain">
      <%= image_tag("SalleBain.avif")%>
      <div class= "text-card-home">
        <h1>Salle de bain</h1>
        <%#= link_to ..., class: 'btn' do %>
            <i class="fa-solid fa-arrow-right"></i>
          <%# end %>
      </div>
    </div>

    <div class= "doodle-border card-home" id="chambre-enfant">
      <%= image_tag("Enfant.avif")%>
      <div class= "text-card-home">
        <h1>Chambre enfant</h1>
        <%#= link_to ..., class: 'btn' do %>
            <i class="fa-solid fa-arrow-right"></i>
          <%# end %>
      </div>
    </div>

    <div class= "doodle-border card-home" id="bureau">
      <%= image_tag("Bureau.avif")%>
      <div class= "text-card-home">
        <h1>Bureau</h1>
        <%#= link_to ..., class: 'btn' do %>
            <i class="fa-solid fa-arrow-right"></i>
          <%# end %>
      </div>
    </div>

    <div class= "doodle-border card-home" id="entrée">
      <%= image_tag("Entree.avif")%>
      <div class= "text-card-home">
        <h1>Entrée</h1>
        <%#= link_to ..., class: 'btn' do %>
            <i class="fa-solid fa-arrow-right"></i>
          <%# end %>
      </div>
    </div>

  </div>

</div>
