<div class="doodl">

  <div class="flex-secret">

    <div  class="img-secret doodle"> <%= cl_image_tag @item.photo.key %></div>
    <div  class="identite" data-level-<%= current_user.current_game.level if user_signed_in? %>-target="sacados"> <%= image_tag "identité.png"%></div>
    <div class="front-sac doodle"><%= image_tag "sac-dos-doodle-bas.png"%></div>


      <div class="card-secret-text doodle">
        <h1 style="font-weight: bold"><%= @item.name %></h1>
        <p><%= @item.description %></p>
        <h3 style="font-weight: bold"><%= @item.price %>0€</h3>
        <div class="doodle-button button-secret">
        <%= link_to "ajouter au panier", create_cart_item_path(@item), class:"doodle-link disabled", data: { action: card_item_cart((current_user.current_game if user_signed_in?)), level_1_target: "button"} %>
        </div>
      </div>
      <div class="pointer", data-action=<%=card_item_jump(current_user.current_game)%>></div>
    


    </div>
  </div>
