<div class="container-cart">


  <div class="cart doodle">



    <% if @cart.exists? %>
      <% @cart.each do |article| %>
        <div class="articles doodle-border">
        <div class="cart-img">
          <%= cl_image_tag article.photo.key, class:"cart-img"%>
        </div>

          <div class="article-infos">
            <h3><%= article.name %></h3>
            <p><%= article.description %></p>
          </div>

          <div class="price-qte">
            <div class="cross">
                    <svg class="cross" viewBox="0 0 76 91" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.0267 12.5325C24.7144 28.2487 41.0129 42.0246 63.2182 50.3385" stroke="currentColor" stroke-width="1.38456" stroke-linecap="round"></path>
                      <path d="M75.0549 1C47.4266 28.2411 25.2228 59.8195 1 90.0087" stroke="currentColor" stroke-width="1.38456" stroke-linecap="round"></path>
                    </svg>
            </div>
            <p>Qté : 1</p>
            <h4><%= article.price %>0€</h4>
          </div>

        </div>
      <% end %>
    <% else %>
      <h1 style="text-align: center">Les articles que ajouterez à votre panier s'afficheront ici</h1>
    <% end %>
  </div>


    <% if @cart.exists? %>
<div class="form-cart doodle">
    <% price = 0 %>
    <% @cart.each do |article| %>
    <% price += article.price %>
    <% end %>
<%#   <hr class="doodle"> %>
  <h3 class="doodle-border">Prix total : <%=price %>0€</h2>
<%#   <hr class="doodle"> %>

  <div class="doodle-border form">
      <%= simple_form_for :payment do |f|  %>
        <%= f.input :name, readonly: true, label: "Nom du titulaire de la carte", input_html: { value: current_user.current_game.card_name}, placeholder: current_user.current_game.card_name%>
        <%= f.input :number, readonly: true, input_html: { value: current_user.current_game.card_number }, placeholder: current_user.current_game.card_number, label: "Numéro de carte" %>
        <div class="d-flex date-cvc">
        <div class="date-input">
        <%= f.input :date, readonly: true, label: "date d'expiration", input_html: {value: current_user.current_game.date} %>
        </div>
        <div class="petit-input">
        <%= f.input :code, readonly: true, label: "CVC/CVV", input_html: {value: current_user.current_game.code}%>
        </div>
        </div>
        <%= f.input :address, readonly: true, input_html: { value: current_user.current_game.address}, placeholder: "********" , label: "Adresse" %>
      <% end %>
      <div class="doodle submit-flex" >
        <button class="disabled doodle", data-action =<%=cart_button_action((current_user.current_game if user_signed_in?))%> data-level-<%= current_user.current_game.level if user_signed_in? %>-target="button">Payer</button>
      </div>
  </div>

</div>
    <% end %>

  </div>

</div>
