<div data-search-items-target="list">
  <% @items.each do |key, item| %>
    <h1 class="room-title doodle-border"><%= key %></h1>
   <%#  <hr class="doodle"> %>
    <div class="wrapper-index ">
      <% item.each do |product| %>
        <div class="card-index doodle-border <%{ data: { action: card_item_action((current_user.current_game if user_signed_in?), product), level_1_target: product.name.downcase  } } %> ">
          <div class="item-img">
            <%= cl_image_tag(product.photo.key, { data: { action: card_photo_action((current_user.current_game if user_signed_in?), product), level_2_target: product.name.downcase} }) %>
          </div>
          <div class="card-index-text ">
            <h1 class=""><%= product.name %></h1>

            <div class="flex-price-link">

              <p><%= product.price%>0€</p>
              <%= image_tag("home.png", id: "home-key" , class: "d-none",
                data: {
                action: "click->level-2#cave",
                level_2_target: "homekey"
              }) if current_user.current_game.level == 2 && product.name.downcase == "brusalii"%>

              <div class="flex-card" >
                <div class="doodle-button button-index">
                  <%= link_to "Voir cet item", item_path(product), class:"doodle-link" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
