<div class="container">
  <div class="flex">
    <%= cl_image_tag @item.photo.key, class:"item-img" %>
    <div class="item-infos">
      <div class="sticky">
        <h1 style="font-weight: bold"><%= @item.name %></h1>
        <p><%= @item.description %></p>
        <h3 style="font-weight: bold"><%= @item.price %>€</h3>
        <%= link_to "ajouter au panier", create_cart_item_path(@item) %>
      </div>
    </div>
  </div>
</div>
