<div class="container-show doodle">
  <div class="flex">
    <%= cl_image_tag @item.photo.key, class:"item-img flex-img" %>
    <div class="item-infos">
      <h1 style="font-weight: bold"><%= @item.name %></h1>
      <p><%= @item.description %></p>
      <h3 style="font-weight: bold"><%= @item.price %>0€</h3>
      <div class="doodle-button button-show" data-level-0-target="<%= card_item_button(current_user.current_game, @item)  if user_signed_in? %>">
        <%= link_to "ajouter au panier", create_cart_item_path(@item), class:"doodle-link", data: { action: (card_view_action((current_user.current_game), @item) if user_signed_in?)} %>
      </div>
    </div>
  </div>
</div>
