<!DOCTYPE html>
<html>
  <head>
    <title>Ikeo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div data-controller="search-items level-<%= current_user.current_game.level %>">
      <%= render "shared/navbar" %>
      <div class="backcolor">
      <%= yield %>
      <%= render "shared/flashes" %>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
