<!DOCTYPE html>
<html>
  <head>
    <title>Sauvetage à Ikeo, aide Koko à sortir</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div data-controller="search-items progess level-<%= current_user.current_game.level if user_signed_in? %>">

      <div class="relative-bubble"  data-action="mousemove->level-<%= current_user.current_game.level if user_signed_in? %>#move" data-level-<%= current_user.current_game.level if user_signed_in? %>-target="cursorkey">
        <%= render "shared/navbar" %>
        <%= render "shared/progression" if user_signed_in? %>
        <div class="backcolor">
          <div class="bubble d-none" data-level-<%= current_user.current_game.level if user_signed_in? %>-target="bubble">
            <div class="tri-right talk-bubble round border-bubble borderb left-in">
              <div class="talktext doodle">
                <span data-controller="typed" data-typed-level-value="<%= current_user.current_game.level if user_signed_in? %>">
                </span>
              </div>
              <button class="button-bubble doodle-button" data-action="click->level-<%= current_user.current_game.level if user_signed_in? %>#okButton">J'ai compris !</button>
            </div>
          </div>
            <%= yield %>
          <%= render "shared/flashes" %>
        <div class="" data-level-<%= current_user.current_game.level if user_signed_in? %>-target="mouse"></div>
      </div>

      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
