<!DOCTYPE html>
<html>
  <head>
    <title>Ikeo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div data-controller="search-items level-<%= current_user.current_game.level if user_signed_in? %>">
      <div class="relative-bubble cursor" data-action="mousemove->level-0#move" data-level-0-target="mouse">
        <%= render "shared/navbar" %>
        <%= render "shared/progression" if user_signed_in? %>
        <div class="backcolor">
          <div class="bubble d-none" data-level-<%= current_user.current_game.level if user_signed_in? %>-target="bubble">
            <div class="tri-right talk-bubble round border-bubble borderb left-in">
              <div class="talktext doodle">
                <span data-controller="typed"
                  data-typed-sentences-value="<%= ["psst psst","hey!", "psst","Hej ! J’ai besoin d’aide ! Que quelqu’un allume la lumière ! J’ai peur du noir !!! Je sais qu’il y a une lampe dans les articles de salon, qui que tu sois peux-tu aller l’allumer ?"] %>">
                </span>
              </div>
              <button class="button-bubble doodle-button" data-action="click->level-<%= current_user.current_game.level if user_signed_in? %>#okButton">J'ai compris !</button>
            </div>
          </div>
          <%= yield %>
          <%= render "shared/flashes" %>
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>
